<h2>Edit form</h2>

<div class="col-6">
  <%= render "form.html",
    changeset: @changeset,
    action: form_path(@conn, :update, @form) %>
</div>

<small>
  <%= link "Back to your forms",
    to: form_path(@conn, :index) %>
</small>
