<h2>Edit form</h2>

<%= render "form.html",
  changeset: @changeset,
  action: form_path(@conn, :update, @form) %>

<small>
  <%= link "Back to your forms",
    to: form_path(@conn, :index) %>
</small>
