<h2>Show form</h2>

<dl>
  <dt><strong>Name:</strong></dt>
  <dd><%= @form.name %></dd>
</dl>

<p>
  <%= link "Edit",
    to: form_path(@conn, :edit, @form),
    class: "btn btn-primary" %>
</p>

<small>
  <%= link "Back to your forms",
    to: form_path(@conn, :index) %>
</small>
