<h2>Show form</h2>

<dl>
  <dt><strong>Name:</strong></dt>
  <dd><%= @form.name %></dd>
  <dt><strong>Fields:</strong></dt>
  <dd>
    <dl class="m0">
    <%= for field <- @form.fields do %>
      <dt><%= field.name %></dt>
      <dd><%= field.type %></dd>
    <% end %>
    </dl>
  </dl>
</dl>

<p>
  <%= link "Edit",
    to: form_path(@conn, :edit, @form),
    class: "btn btn-primary" %>
</p>

<small>
  <%= link "Back to your forms",
    to: form_path(@conn, :index) %>
</small>
