* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 20px/1.5 sans-serif;
  color: #222;
}

a {
  color: #0074d9;
  text-decoration: none;
}

input, select {
  font: inherit;
  color: inherit;
}

input {
  border: none;
}

input, select {
  width: 100%;
}

label {
  border: 1px solid currentColor;
  display: block;
  position: relative;
  padding: 1.5em .5em .5em;
}

label > span {
  position: absolute;
  left: .5em;
  top: .25em;
  z-index: 1;
  font-size: small;
}

