* {
  box-sizing: border-box;
}

body {
  font: 20px/1.5 sans-serif;
  color: #222;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

input, select, button {
  font: inherit;
  color: inherit;
}

input, button {
  border: none;
}

input, select {
  width: 100%;
}

label {
  border: 1px solid currentColor;
  display: block;
  position: relative;
  padding: 1.5em .5em .5em;
}

label span {
  position: absolute;
  left: .5em;
  top: .25em;
  z-index: 1;
  font-size: small;
}

button {
  background: dodgerblue;
  color: white;
  padding: .25em .5em;
}
